#book-section {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 100vw;
    background-color: var(--light-cream-color);
}

/* LEFT COLUMN */
.left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    top: 60px;
    position: sticky;
    padding: 50px;
    background-color: #e4d4c4;
    height: 100vh;
    row-gap: 30px;
    width: 25%;
    min-width: 190px;
}

.left-column img {
    width: 250px;
    height: 370px;
}

.left-column button {
    width: 100%;
    padding: 15px;
    background-color: var(--light-brown-color);
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.left-column button:hover {
    opacity: 0.9;
}

/* POP-UP */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    padding: 40px;
    background: #fff;
    border-radius: 5px;
    width: 35%;
    min-width: 300px;
    color: var(--dark-brown-color);
    position: relative;
    transition: all 2s ease-in-out;
}

.popup-msg {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
    border-radius: 15px;
    color: var(--dark-brown-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.popup .close-popup {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close-popup:hover {
    color: #ff0000;
}

.popup-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.popup-content button {
    background-color: var(--dark-cream-color);
    color: var(--dark-brown-color);
    width: 70%;
    height: 47px;
    min-width: 150px;
    padding: 15px;
    border-radius: 15px;
    border: 1px ;
    cursor: pointer;
}

.add-collection-button {
    background-color: var(--dark-cream-color);
    color: var(--dark-brown-color);
    width: 70%;
    height: 47px;
    min-width: 150px;
    padding: 15px;
    border-radius: 15px;
    border: 1px ;
    cursor: pointer;
}

.add-collection-button:hover {
    opacity: 0.8;
}

.popup-content .add-collection {
    color: white;
    background-color: black;
    height: auto;
}

.popup-content button:hover {
    opacity: 0.8;
}

/* Add collection form */
.add-to-collection-button {
    min-width: 95px;
}
.collectionForm {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.collectionForm input {
    padding: 10px;
    margin: 10px;
    flex-basis: 70%;
    flex-grow: 6;
    border: none;
    border: 1px solid var(--dark-cream-color);
    background-color: var(--light-cream-color);
    border-radius: 10px;
}

.collectionForm .add-collection {
    flex-basis: 30%;
    flex-grow: 1;
}


/* ADD LEÃDOS FORM */
.add-leidos-form-content {
    display: flex;
    column-gap: 20px;
    margin: 20px 0px 30px 0px;
    color: var(--dark-brown-color);
}

.form-content-format {
    flex-direction: column;
    width: 160px;
}

.format-form-option {
    display: flex;
    column-gap: 20px; 
    padding: 5px;
}

@media (max-width: 1000px) {
    .add-leidos-form-content{
        flex-direction: column;
        row-gap: 20px;
    }
}

.format-form-option input[type= "radio"]:checked {
    background-color: var(--dark-brown-color);
}

.form-content-format > textarea {
    width: 100%px;
    padding: 0;
    border: var(--dark-brown-color);
}

.popup > label {
    padding-top: 15px;
}


/* RIGHT COLUMN */
.right-column {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 60px 80px;
    overflow: auto;
}

.right-column h2 {
    font-size: 2rem;
    color: var(--dark-brown-color);
}

.book-description {
    background-color: #e4d4c4;
    padding: 25px;
    border-radius: 20px;
    color: var(--dark-brown-color);
}

.show-description-button {
    color: var(--dark-brown-color);
    cursor: pointer;
    max-width: max-content;
    padding: 5px 0px;
    font-weight: 700;
    margin-top: 10px;
}

.book-data {
    color: var(--dark-brown-color);
    padding: 5px 25px;
}

.book-subjects {
    padding-left: 20px;
}

.book-subjects-content {
    display: flex;
    padding-top: 20px;
}

.book-categories {
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    white-space: nowrap;
    box-shadow: inset 0px 0px 39px 17px rgba(0,0,0,0.1);
}

.book-category {
    background-color: var(--dark-cream-color);
    white-space: nowrap;
    border-right: 2px solid #d2b89f;
    display: inline-block;
    color: var(--dark-brown-color);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.book-category:hover {
    background-color: #d2b89f;
}

.book-categories-button {
    color: var(--dark-brown-color);
    font-weight: 800;
    border: none;
    background-color: #e4d4c4;
    text-align: center;
    padding: 14px;
    cursor: pointer;
}

.book-categories-button:hover{
    background-color: #d2b89f;
}

.book-categories::-webkit-scrollbar {
    height: 0px; 
}

/* TABLETS */
@media (max-width: 1100px) {
    .collectionForm {
        flex-direction: column;
    }
    .collectionForm input {
        width: 200px;
    }
    .left-column img {
        width: 170px;
        height: 290px;
    }
}

/* MOBILE */
@media (max-width: 480px) {
    .left-column img {
        width: 120px;
        height: 240px;
    }
    #book-section {
        display: flex;
        flex-direction: column;
        height: 100vh;
        max-width: 100vw;
    }
    .left-column {
        width: 100vw;
        position: static;
    }
    .right-column{
        background-color: var(--light-cream-color);
        overflow: visible;
        max-width: 100vw;
        height: 100vh;
        padding-bottom: 50px;
    }
}