#book-library-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: var(--dark-brown-color);
}

.delete-library-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.books-section {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
}

.book-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--dark-cream-color);
    border-radius: 20px;
    border: 1px solid #d3b79e;
    box-shadow: 11px 11px 15px -3px rgba(0,0,0,0.1);
}

.book-gap {
    row-gap: 20px;
}

.book-leidos-container-size {
    height: 230px;
    width: 320px;
}

.book-leidos-container-size:hover {
    height: 245px;
    width: 335px;
    transition: all 0.5s ease-out;
}

.book-container-size:hover {
    height: 200%;
}

.book-container > p:first-child{
    color: black;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

.book-container > a {
    text-decoration: none;
    color: var(--dark-brown-color);
    cursor: pointer;
}

.book-info > a {
    text-decoration: none;
    color: var(--dark-brown-color);
    cursor: pointer;
}

.book-container > Link > img {
    box-shadow: 21px 23px 15px -3px rgba(0,0,0,0.1);
}

.book-info {
    align-items: flex-start;
    row-gap: 5px;
    padding-left: 10px;
    color: var(--dark-brown-color);
}

.book-info .react-stars > span {
    background-color: #eee5da;
}

.book-info .react-stars > span {
    background-color: #eee5da;
}
  