body .signin-up {
    background-color: var(--light-cream-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signin-up > .form {
 max-width: 360px;
}

.form h2 {
    color: var(--dark-brown-color);
}

.signin-up-buttons {
    text-decoration: none;
    cursor: pointer;
    font-weight: 700;
    color: var(--dark-brown-color);
}

.form > p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    column-gap: 5px;
}

.form > p > span {
    color: var(--dark-brown-color);
}